*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Sfondo gradient  */
.background{

    width: 100vw;
    height: 100vh;
    background: rgb(218,219,211);
    background: linear-gradient(0deg, rgba(218,219,211,1) 85%, rgba(0,151,136,1) 85%); 
}

/* Contenitore per l'interfaccia utente */
.window_container{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    height: 95%;
    background-color: white;
}

/* Barra dei contatti */
.sidebar{
    height: 100%;
    width: 400px;
    background-color: white;
}

/* Finestra per la visualizzazione della chat */
.message-section{
    width: calc(100% - 400px);
    height: 100%;
    background-image: url(../img/mine.jpg);
    position: relative;
}

/* Header delle finestre */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #EAEAEA;
}

/*  Informazioni personali  */
.personal-info{
    display: flex;
    align-items: center;
}

/* Foto profilo */
.profile-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 20px;
    margin-right: 20px;
}

/* Informazioni utente */
.user-info{
    display: flex;
    flex-direction: column;
    line-height: 1;
}

/* Foto profilo utente */
.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px; /* Uguale all'altezza dell'header */
    margin-left: 10px;
}

/* Foto profilo utente */
.img-profile{
    width: 80%;
    border-radius: 100px;
}

/* Sezione di ricezione notifiche */
.notifications{
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
}

/* Barra di ricerca */
.searchbar{
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid rgb(227, 227, 227);
}

/* Sezione per l'invio dei messaggi */
.input_section{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: #EAEAEA;
}