*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Sfondo gradient  */
.background{

    width: 100vw;
    height: 100vh;
    background: rgb(218,219,211);
    background: linear-gradient(0deg, rgba(218,219,211,1) 85%, rgba(0,151,136,1) 85%); 
}

/* Contenitore per l'interfaccia utente */
.window_container{
    display: flex;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    height: 95%;
    background-color: white;
}

/* Barra dei contatti */
.sidebar{
    height: 100%;
    width: 400px;
    background-color: white;
}

/* Finestra per la visualizzazione della chat */
.message-section{
    width: calc(100% - 400px);
    height: 100%;
    background-image: url(../img/mine.jpg);
    position: relative;
}

/* Header delle finestre */
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    background-color: #EAEAEA;
}

/*  Informazioni personali  */
.personal-info{
    display: flex;
    align-items: center;
}

/* Foto profilo */
.profile-icons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    font-size: 20px;
    margin-right: 20px;
}

/* Informazioni utente */
.user-info{
    display: flex;
    flex-direction: column;
    line-height: 1;
}

/* Foto profilo utente */
.profile-pic{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80px; /* Uguale all'altezza dell'header */
    margin-left: 10px;
}

/* Foto profilo utente */
.img-profile{
    width: 80%;
    border-radius: 100px;
}

/* Sezione di ricezione notifiche */
.notifications{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #8EDAFC;
    padding: 10px 20px;
}

.emoji-button{
    height: 100%;
    display: flex;
    align-items: center;
}

/* Barra di ricerca */
.searchbar{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid rgb(227, 227, 227);
}

/* Sezione per l'invio dei messaggi */
.input_section{
    padding: 15px 30px;
    display: flex;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    background-color: #EAEAEA;
}

.input_section input{
    margin: 0 20px;
}

.notifications-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    color: #8EDAFC;
}

.text-notifications{
    display: flex;
    flex-direction: column;
}

.user-list .user{
    padding: 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
    display: flex;
    position: relative;
}

.user-info-sidebar{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.last-message{
    color: gray;
}

.last-message-time{
    position: absolute;
    right: 10px;
    color: gray;
}

.message-view{
    height: calc(91% - 70px);
    padding: 100px;
    overflow: auto;
}

.message{
    min-width: 100px;
    max-width: 500px;
    padding: 5px 12px;
    border-radius: 10px;
    padding-right: 50px;
}

.message-sent{
    right: 100px;
    background-color: #D5F9BB;
    margin-bottom: 20px;
}

.message-received{
    background-color: white;
    margin-bottom: 11px;
}

.message-align{
    position: absolute;
    right: 0;
    background-color: red;
    width: 100%;
}

.message-container{
    display: flex;
    flex-direction: column;
    
    width: 100%;
    position: relative;
    margin-bottom: 20px;
}

.container-sent{
    align-items: end;
}

.container-received{
    align-items: start;
}
